
UnityProject/Temp/workerlic
UnityProject/Temp/FSTimeGet-26f5b06a4ca5c45419701a3ef0888c71
UnityProject/Temp/UnityLockfile
UnityProject/Temp/FSTimeGet-260640a72a5cfbe43b42943506b5132e
UnityProject/Temp/__Backupscenes/0.backup
UnityProject/Library/ArtifactDB
UnityProject/Library/ArtifactDB
UnityProject/Library/ArtifactDB
UnityProject/Library/Artifacts/03/032fa7a0a6ed1522878b5574706df8e6
UnityProject/Library/Artifacts/03/03d7305a49b3433b7df461c3fd614de1
UnityProject/Library/Artifacts/03/03e8cfa6cedfbfa28acab8c854e8f773
UnityProject/Library/Artifacts/0a/0a1816748ceb5ab66ccf7e65f23496f0
UnityProject/Library/Artifacts/0a/0ac6355883caa5a4f9b1b48e0a7bbc3e
UnityProject/Library/Artifacts/0b/0bc80686979414d9dfd797a567b70a28
UnityProject/Library/Artifacts/0d/0d314e775351fa2d540f00456dfc5190
UnityProject/Library/Artifacts/0d/0d8c4f78db0d82e39599f6cb96de79a9
UnityProject/Library/Artifacts/13/135bed32508cff3fabc004308a22c12f
UnityProject/Library/Artifacts/16/16b22c6eb5b43306b8d226156ebb0a85
UnityProject/Library/Artifacts/17/1786bc68a881ec66b699514eca43b3bd
UnityProject/Library/Artifacts/1e/1e46fc5e0db0984c6e834097a2abe332
UnityProject/Library/Artifacts/21/2112d607a90a4b28165c1aa4290c050b
UnityProject/Library/Artifacts/28/28d3c845e6d5835016cd78de1a1b41f2
UnityProject/Library/Artifacts/2a/2a73b1f30d37bd8f4a313b1eb7f89a77
UnityProject/Library/Artifacts/2e/2ea53b6808ba5d5fba564055d6efb2be
UnityProject/Library/Artifacts/2e/2ed05bb84817ca091cfb5f54314b7113
UnityProject/Library/Artifacts/37/37ccb68a2fbaa0ac2f23bf589fbcfdd3
UnityProject/Library/Artifacts/39/39d445865f5a7a3fbeac46f3d56fbb57
UnityProject/Library/Artifacts/3c/3c1f7815082c2e5f5c1c8a1eaa7e8813
UnityProject/Library/Artifacts/3f/3f6b4c644671f7eca9d181e38fda4bbf
UnityProject/Library/Artifacts/55/553a5babc1566f062cf700b5929d53f3
UnityProject/Library/Artifacts/57/57ecc77708530855bb2f1abdfb984542
UnityProject/Library/Artifacts/5f/5ffb2032efcba725391b9b6a0badc22e
UnityProject/Library/Artifacts/60/60f9fd2f7ed2548849cdf5988248f917
UnityProject/Library/Artifacts/65/650d96194336d32cdd6ba829efdc036a
UnityProject/Library/Artifacts/66/66a7d077931a5351b9a2cac891a88902
UnityProject/Library/Artifacts/6a/6a59e1d0e8bc196f0f355a9da3eda39b
UnityProject/Library/Artifacts/6b/6be17ecdede18cee8aeaba05c9e90d23
UnityProject/Library/Artifacts/8f/8f5c396545b4d53291a46428a0df6715
UnityProject/Library/Artifacts/92/9248904ef6b7979e3959525d36953723
UnityProject/Library/Artifacts/93/932cd79a7400df8257778abb15c537f8
UnityProject/Library/Artifacts/96/963b50b39124b4984ab91020c56d0260
UnityProject/Library/Artifacts/97/97ca7f8f410c7caa297f043e92b4bc58
UnityProject/Library/Artifacts/a4/a45111dbac1f296934897a2d87737aa8
UnityProject/Library/Artifacts/a6/a6b04959efc46c0ae984045c9490a4bd
UnityProject/Library/Artifacts/ad/ad0c9a241b5ddcf01202bceea7839420
UnityProject/Library/Artifacts/ad/ad6bd887614f66d341b57fe308391cdb
UnityProject/Library/Artifacts/ad/ade99f5959548c42fb9a6b98ac00edd0
UnityProject/Library/Artifacts/b1/b19a97000676b9e3c53aad20116ff0df
UnityProject/Library/Artifacts/b5/b58e5f089dd3d3448b051a22fe450632
UnityProject/Library/Artifacts/b8/b86cf505f4cd3c47eaaa01ae43f7f63d
UnityProject/Library/Artifacts/b9/b938f71076f33f80f293a76732b19217
UnityProject/Library/Artifacts/be/be3af0a67a050acb1b3322db363ebfc6
UnityProject/Library/Artifacts/c1/c179ff570aa69e3943d1a347be5974ba
UnityProject/Library/Artifacts/cc/ccec627d66befd262ebd4995145df797
UnityProject/Library/Artifacts/cd/cd797d87ad97c9bc6e1d279eff679fc8
UnityProject/Library/Artifacts/db/db3a9d2ac2496142fb7b997a5f792653
UnityProject/Library/Artifacts/dd/dd437cfda9fb1a2aed64428fc56b2645
UnityProject/Library/Artifacts/e6/e632617bbb45ff30b36bdeade9588c13
UnityProject/Library/Artifacts/e7/e74312c16b9a243bb9bd2ded87a3f9c1
UnityProject/Library/Artifacts/eb/eb9a8b46369407129b6f3e1c72f7399a
UnityProject/Library/Artifacts/ec/ec749ca6424d00ccb03a2d3d19f36b45
UnityProject/Library/Artifacts/ef/ef905e06a32e2979be3efe70b324cd19
UnityProject/Library/Artifacts/f5/f54f81350120eadf65938685b83938f2
UnityProject/Library/Artifacts/f8/f8de5ef52d52da446d6d2fb925cecfa7
UnityProject/Library/Bee/1900b0aE-inputdata.json
UnityProject/Library/Bee/1900b0aE.dag
UnityProject/Library/Bee/1900b0aE.dag.json
UnityProject/Library/Bee/1900b0aE.dag_fsmtime
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.ref.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.CollabProxy.Editor.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.CollabProxy.Editor.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.CollabProxy.Editor.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.InputSystem.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.InputSystem.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.InputSystem.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.InputSystem.TestFramework.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.InputSystem.TestFramework.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.InputSystem.TestFramework.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.Mathematics.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.Mathematics.Editor.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.Mathematics.Editor.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.Mathematics.Editor.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.Mathematics.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.Mathematics.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.PlasticSCM.Editor.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.PlasticSCM.Editor.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.PlasticSCM.Editor.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.Rider.Editor.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.Rider.Editor.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.Rider.Editor.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.Editor.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.Editor.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.Editor.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.Editor.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.Editor.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.Editor.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.VisualStudio.Editor.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.VisualStudio.Editor.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.VisualStudio.Editor.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.VSCode.Editor.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.VSCode.Editor.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.VSCode.Editor.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.CoreUtils.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.CoreUtils.Editor.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.CoreUtils.Editor.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.CoreUtils.Editor.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.CoreUtils.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.CoreUtils.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.Interaction.Toolkit.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.Interaction.Toolkit.Editor.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.Interaction.Toolkit.Editor.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.Interaction.Toolkit.Editor.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.Interaction.Toolkit.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.Interaction.Toolkit.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.Interaction.Toolkit.Samples.StarterAssets.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.Interaction.Toolkit.Samples.StarterAssets.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.Interaction.Toolkit.Samples.StarterAssets.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.Management.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.Management.Editor.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.Management.Editor.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.Management.Editor.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.Management.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.Management.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.Oculus.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.Oculus.Editor.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.Oculus.Editor.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.Oculus.Editor.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.Oculus.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.Oculus.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Editor.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Editor.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Editor.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.ConformanceAutomation.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.ConformanceAutomation.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.ConformanceAutomation.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.MetaQuestSupport.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.MetaQuestSupport.Editor.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.MetaQuestSupport.Editor.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.MetaQuestSupport.Editor.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.MetaQuestSupport.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.MetaQuestSupport.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.MockRuntime.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.MockRuntime.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.MockRuntime.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.OculusQuestSupport.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.OculusQuestSupport.Editor.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.OculusQuestSupport.Editor.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.OculusQuestSupport.Editor.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.OculusQuestSupport.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.OculusQuestSupport.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.RuntimeDebugger.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.RuntimeDebugger.Editor.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.RuntimeDebugger.Editor.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.RuntimeDebugger.Editor.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.RuntimeDebugger.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.Features.RuntimeDebugger.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/Unity.XR.OpenXR.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEditor.SpatialTracking.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEditor.SpatialTracking.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEditor.SpatialTracking.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEditor.TestRunner.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEditor.TestRunner.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEditor.TestRunner.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEditor.UI.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEditor.UI.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEditor.UI.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEditor.XR.LegacyInputHelpers.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEditor.XR.LegacyInputHelpers.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEditor.XR.LegacyInputHelpers.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEngine.SpatialTracking.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEngine.SpatialTracking.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEngine.SpatialTracking.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEngine.TestRunner.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEngine.TestRunner.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEngine.TestRunner.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEngine.UI.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEngine.UI.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEngine.UI.rsp
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEngine.XR.LegacyInputHelpers.dll
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEngine.XR.LegacyInputHelpers.pdb
UnityProject/Library/Bee/artifacts/1900b0aE.dag/UnityEngine.XR.LegacyInputHelpers.rsp
UnityProject/Library/Bee/backend_profiler0.traceevents
UnityProject/Library/Bee/backend_profiler1.traceevents
UnityProject/Library/Bee/buildprogram0.traceevents
UnityProject/Library/Bee/fullprofile.json
UnityProject/Library/Bee/tundra.digestcache
UnityProject/Library/Bee/tundra.log.json
UnityProject/Library/Bee/TundraBuildState.state
UnityProject/Library/Bee/TundraBuildState.state.map
UnityProject/Library/EditorInstance.json
UnityProject/Library/InspectorExpandedItems.asset
UnityProject/Library/SceneVisibilityState.asset
UnityProject/Library/ScriptAssemblies/Assembly-CSharp.dll
UnityProject/Library/ScriptAssemblies/Assembly-CSharp.pdb
UnityProject/Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
UnityProject/Library/ScriptAssemblies/Unity.CollabProxy.Editor.pdb
UnityProject/Library/ScriptAssemblies/Unity.InputSystem.dll
UnityProject/Library/ScriptAssemblies/Unity.InputSystem.pdb
UnityProject/Library/ScriptAssemblies/Unity.InputSystem.TestFramework.dll
UnityProject/Library/ScriptAssemblies/Unity.InputSystem.TestFramework.pdb
UnityProject/Library/ScriptAssemblies/Unity.Mathematics.dll
UnityProject/Library/ScriptAssemblies/Unity.Mathematics.Editor.dll
UnityProject/Library/ScriptAssemblies/Unity.Mathematics.Editor.pdb
UnityProject/Library/ScriptAssemblies/Unity.Mathematics.pdb
UnityProject/Library/ScriptAssemblies/Unity.PlasticSCM.Editor.dll
UnityProject/Library/ScriptAssemblies/Unity.PlasticSCM.Editor.pdb
UnityProject/Library/ScriptAssemblies/Unity.Rider.Editor.dll
UnityProject/Library/ScriptAssemblies/Unity.Rider.Editor.pdb
UnityProject/Library/ScriptAssemblies/Unity.TextMeshPro.dll
UnityProject/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
UnityProject/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.pdb
UnityProject/Library/ScriptAssemblies/Unity.TextMeshPro.pdb
UnityProject/Library/ScriptAssemblies/Unity.Timeline.dll
UnityProject/Library/ScriptAssemblies/Unity.Timeline.Editor.dll
UnityProject/Library/ScriptAssemblies/Unity.Timeline.Editor.pdb
UnityProject/Library/ScriptAssemblies/Unity.Timeline.pdb
UnityProject/Library/ScriptAssemblies/Unity.VisualStudio.Editor.dll
UnityProject/Library/ScriptAssemblies/Unity.VisualStudio.Editor.pdb
UnityProject/Library/ScriptAssemblies/Unity.VSCode.Editor.dll
UnityProject/Library/ScriptAssemblies/Unity.VSCode.Editor.pdb
UnityProject/Library/ScriptAssemblies/Unity.XR.CoreUtils.dll
UnityProject/Library/ScriptAssemblies/Unity.XR.CoreUtils.Editor.dll
UnityProject/Library/ScriptAssemblies/Unity.XR.CoreUtils.Editor.pdb
UnityProject/Library/ScriptAssemblies/Unity.XR.CoreUtils.pdb
UnityProject/Library/ScriptAssemblies/Unity.XR.Interaction.Toolkit.dll
UnityProject/Library/ScriptAssemblies/Unity.XR.Interaction.Toolkit.Editor.dll
UnityProject/Library/ScriptAssemblies/Unity.XR.Interaction.Toolkit.Editor.pdb
UnityProject/Library/ScriptAssemblies/Unity.XR.Interaction.Toolkit.pdb
UnityProject/Library/ScriptAssemblies/Unity.XR.Interaction.Toolkit.Samples.StarterAssets.dll
UnityProject/Library/ScriptAssemblies/Unity.XR.Interaction.Toolkit.Samples.StarterAssets.pdb
UnityProject/Library/ScriptAssemblies/Unity.XR.Management.dll
UnityProject/Library/ScriptAssemblies/Unity.XR.Management.Editor.dll
UnityProject/Library/ScriptAssemblies/Unity.XR.Management.Editor.pdb
UnityProject/Library/ScriptAssemblies/Unity.XR.Management.pdb
UnityProject/Library/ScriptAssemblies/Unity.XR.Oculus.dll
UnityProject/Library/ScriptAssemblies/Unity.XR.Oculus.Editor.dll
UnityProject/Library/ScriptAssemblies/Unity.XR.Oculus.Editor.pdb
UnityProject/Library/ScriptAssemblies/Unity.XR.Oculus.pdb
UnityProject/Library/ScriptAssemblies/Unity.XR.OpenXR.dll
UnityProject/Library/ScriptAssemblies/Unity.XR.OpenXR.Editor.dll
UnityProject/Library/ScriptAssemblies/Unity.XR.OpenXR.Editor.pdb
UnityProject/Library/ScriptAssemblies/Unity.XR.OpenXR.Features.ConformanceAutomation.dll
UnityProject/Library/ScriptAssemblies/Unity.XR.OpenXR.Features.ConformanceAutomation.pdb
UnityProject/Library/ScriptAssemblies/Unity.XR.OpenXR.Features.MetaQuestSupport.dll
UnityProject/Library/ScriptAssemblies/Unity.XR.OpenXR.Features.MetaQuestSupport.Editor.dll
UnityProject/Library/ScriptAssemblies/Unity.XR.OpenXR.Features.MetaQuestSupport.Editor.pdb
UnityProject/Library/ScriptAssemblies/Unity.XR.OpenXR.Features.MetaQuestSupport.pdb
UnityProject/Library/ScriptAssemblies/Unity.XR.OpenXR.Features.MockRuntime.dll
UnityProject/Library/ScriptAssemblies/Unity.XR.OpenXR.Features.MockRuntime.pdb
UnityProject/Library/ScriptAssemblies/Unity.XR.OpenXR.Features.OculusQuestSupport.dll
UnityProject/Library/ScriptAssemblies/Unity.XR.OpenXR.Features.OculusQuestSupport.Editor.dll
UnityProject/Library/ScriptAssemblies/Unity.XR.OpenXR.Features.OculusQuestSupport.Editor.pdb
UnityProject/Library/ScriptAssemblies/Unity.XR.OpenXR.Features.OculusQuestSupport.pdb
UnityProject/Library/ScriptAssemblies/Unity.XR.OpenXR.Features.RuntimeDebugger.dll
UnityProject/Library/ScriptAssemblies/Unity.XR.OpenXR.Features.RuntimeDebugger.Editor.dll
UnityProject/Library/ScriptAssemblies/Unity.XR.OpenXR.Features.RuntimeDebugger.Editor.pdb
UnityProject/Library/ScriptAssemblies/Unity.XR.OpenXR.Features.RuntimeDebugger.pdb
UnityProject/Library/ScriptAssemblies/Unity.XR.OpenXR.pdb
UnityProject/Library/ScriptAssemblies/UnityEditor.SpatialTracking.dll
UnityProject/Library/ScriptAssemblies/UnityEditor.SpatialTracking.pdb
UnityProject/Library/ScriptAssemblies/UnityEditor.TestRunner.dll
UnityProject/Library/ScriptAssemblies/UnityEditor.TestRunner.pdb
UnityProject/Library/ScriptAssemblies/UnityEditor.UI.dll
UnityProject/Library/ScriptAssemblies/UnityEditor.UI.pdb
UnityProject/Library/ScriptAssemblies/UnityEditor.XR.LegacyInputHelpers.dll
UnityProject/Library/ScriptAssemblies/UnityEditor.XR.LegacyInputHelpers.pdb
UnityProject/Library/ScriptAssemblies/UnityEngine.SpatialTracking.dll
UnityProject/Library/ScriptAssemblies/UnityEngine.SpatialTracking.pdb
UnityProject/Library/ScriptAssemblies/UnityEngine.TestRunner.dll
UnityProject/Library/ScriptAssemblies/UnityEngine.TestRunner.pdb
UnityProject/Library/ScriptAssemblies/UnityEngine.UI.dll
UnityProject/Library/ScriptAssemblies/UnityEngine.UI.pdb
UnityProject/Library/ScriptAssemblies/UnityEngine.XR.LegacyInputHelpers.dll
UnityProject/Library/ScriptAssemblies/UnityEngine.XR.LegacyInputHelpers.pdb
UnityProject/Library/Search/transactions.db
UnityProject/Library/SourceAssetDB
UnityProject/Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
UnityProject/Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
UnityProject/Logs/AssetImportWorker0-prev.log
UnityProject/Logs/AssetImportWorker0.log
UnityProject/Logs/shadercompiler-AssetImportWorker0.log
UnityProject/Logs/shadercompiler-UnityShaderCompiler.exe0.log
UnityProject/Logs/shadercompiler-UnityShaderCompiler.exe1.log
UnityProject/Logs/shadercompiler-UnityShaderCompiler.exe2.log
UnityProject/Logs/shadercompiler-UnityShaderCompiler.exe3.log
UnityProject/Temp/FSTimeGet-c7e49be645dff454eb56ba1d741cad2c
UnityProject/UserSettings/Layouts/default-2021.dwlt
UnityProject/UserSettings/Search.settings
